<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio</title>

</head>

<body>
  <header>
    <section>
      <div class="header-content">
        <h1>Soy <%= user.nombre %></h1>
        <p><%= user.especialidad %> y este es mi portafolio</p>
      </div>
    </section>
  </header>
  <div class="tab_box">
    <button class="tab_btn active">Presentación</button>
    <div class="line"></div>
  </div>
  <div class="content_box">
    <div class="content active">
      <div class="card">
        <img src="<%= user.avatar %>" class="avatar">
        <div class="content-card">
          <h1>Mi Persona</h1>
          <p><%= user.descripcion %></p>
        </div>
      </div>
    </div>
</body>

</html>-
